@charset "UTF-8";

body {
    margin: 0;
    font-family: arial, sans-serif;
    background-image: url(Universe.jpg);
}

.hero {
    background-image: url(Lofi-Girl.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid #181A47; /* border-top adicionada para consertar o alinhamento da "margin" do .hero nav ul */
}

.hero-content {
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 45px;
    text-shadow: 2px 2px 5px rgb(240, 153, 201);
}

.hero-content h2{
    background-color: rgba(0,0,0, .6); /* Na transparência coloquei .6 pois quando se especifica um valor 0.alguma coisa, pode-se colocar 0.6 ou .6 direto */
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid pink;
}

.hero nav ul{
    text-align: right;
    margin: 20px 80px 0 0; /* ESSA MARGEM EMPURROU TODO O HEADER PARA BAIXO JUNTO. PARA RESOLVER, PODE-SE ADICIONAR UMA border-top NO ELEMENTO-PAI (.hero) */
}

.hero nav li {
    display: inline-block;
    list-style: none;
    margin-left: 7px; /* Distanciamento entre os botões */
    border: 2px solid pink;
    border-radius: 10px;
}

.hero nav a {
    background-color: rgba(0,0,0,0.6); /* Se utilizou um pouco de transparência */
    padding: 10px;
    display: block;
    border-radius: 10px; /* 5 ou 10px, das duas formas fica bom */
    color: pink;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.hero nav a:hover {
    background-color: rgb(252, 197, 222);
    color: black;
}

.hero nav li:active{
    border: 2px solid rgb(240, 153, 201); /* Coloquei li:active para mudar a cor da borda junto com o background-color do a:active */
}
.hero nav a:active {
    background-color: rgb(240, 153, 201);
    color: black;
    font-size: 13px;
}

main {
    width: 80%;
    margin: auto;
}

.section-content {
    background-color: rgba(255, 255, 255, 0.534);
    padding: 5px;
    margin-top: 90px;
    border-radius: 10px;
    overflow: auto; /* Esse overflow serve para consertar o efeito do float do .card (abaixo) */
}

.card {
    width: 32%;
    float: left; /* Não é usado o display: inline-block nesse caso pois deixa um pequeno espaço padrão entre os elementos, (o mesmo espaço entre as palavras nos textos) */
    box-sizing: border-box;
}

.card-01, .card-02 {
    margin-right: 2%; /* Somando os 96% do width (32% de cada um dos 3 elementos somados dá 96%), com os 2% de margin-right dos dois primeiros cards (2 + 2 = 4%), dá 100% */
}

.card img {
    width: 100%;
    border-radius: 5px;
    display: block; /* Para tirar o espaço existente entre a imagem e o parágrafo de baixo */
}

.card p {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(70, 70, 70);
    color: white;
    text-shadow: 1px 1px 6px rgb(240, 153, 201);
    text-transform: uppercase;
    letter-spacing: 1px;

}

.header-section-content {
    padding: 10px;
    margin: 10px 10px 40px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 6px rgb(240, 153, 201);
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
}

article p {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(70, 70, 70);
    text-shadow: 1px 1px 6px rgb(240, 153, 201);

}

.footer-content {
    padding-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: small;
    color: rgb(252, 197, 222);
    text-shadow: 2px 2px 7px rgb(252, 197, 222);
}